{{template "base" .}}

{{define "title"}}Добавление типа вагона{{end}}

{{define "main"}}
<h2>Добавление типа вагона</h2>
<form action="/save_wagon" method="post">
    <p>
        <label>Наименование типа вагона: </label>
        <input type="text" id="Name" name="Name" required minlength="1"  size="16" />
        <t>Например: АО 4К</t>
    </p>
    <input type="submit" value="Добавить тип вагона" class="glo"/>
</form>

<div id="table-wrapper">
    <table>
        <caption>Таблица типов вагонов</caption>
        <thead>
        <tr>
            <th scope="col">Наименование</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Wagon }}
        <tr>
            <td data-label="Наименование">{{ .Name }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>

{{end}}