{{template "base" .}}

{{define "title"}}Добавление области{{end}}

{{define "main"}}
<h2>Добавление области</h2>
<form action="/save_region" method="post">
    <p>
        <label>Наименование области: </label>
        <input type="text" id="Name" name="Name" required minlength="1" size="16" />
        <t>Например: Амурская область</t>
    </p>
    <input type="submit" value="Добавить область" class="glo"/>
</form>

<div id="table-wrapper">
    <table>
        <caption>Таблица областей</caption>
        <thead>
        <tr>
            <th scope="col">Наименование</th>
        </tr>
        </thead>
        <tbody>
        {{ range .Region }}
        <tr>
            <td data-label="Наименование">{{ .Name }}</td>
        </tr>
        {{ end }}
        </tbody>
    </table>
</div>

{{end}}