{{template "base" .}}

{{define "title"}}Подвижной состав{{end}}

{{define "main"}}
<h2>Подвижной состав</h2>
    <div class="case-item">
        <img src="../static/img/platforma-1.jpg" alt="image" class="custom-image">
        <p><b>Платформы</b>
            — открытые вагоны без крыши и стен, идеальны для крупногабаритных и тяжеловесных грузов, которые
            не требуют защиты от погоды. Они оборудованы специальными креплениями для безопасности груза.
        </p>
        <a href="/platform1" class="button">Перейти к списку платформ</a>
    </div>
    <div class="case-item">
        <img src="../static/img/platforma-2.jpg" alt="image" class="custom-image">
        <p><b>Крытые вагоны</b>
            — закрытые вагоны с крышей и стенами, подходят для перевозки продовольствия или электроники, нуждающихся
            в защите от атмосферных воздействий. Внутреннее пространство можно модифицировать для различных нужд.
        </p>
        <a href="/platform2" class="button">Перейти к списку крытых вагонов</a>
    </div>
    <div class="case-item">
        <img src="../static/img/platforma-3.jpg" alt="image" class="custom-image">
        <p><b>Полувагоны</b>
            — вагоны с низкими бортами и без крыши, используются для насыпных и крупногабаритных грузов,
            таких как строительные материалы и металлопрокат. Удобны для загрузки как с верха, так и с боков.
        </p>
        <a href="/platform3" class="button">Перейти к списку полувагонов</a>
    </div>
{{end}}