{{template "base" .}}

{{define "title"}}Галерея{{end}}

{{define "main"}}
<h2>Галерея</h2>
<div class="gallery">
    <div class="gallery-item">
        <img src="https://i.pinimg.com/736x/06/e1/a5/06e1a549ef8c64326bc3c538acc619ed.jpg" alt="Image">
    </div>
    <div class="gallery-item">
        <img src="https://i.pinimg.com/736x/9b/5e/4d/9b5e4dc755ef5d5087a4cd2085da15c1.jpg" alt="Image">
    </div>
    <div class="gallery-item">
        <img src="https://i.pinimg.com/736x/fe/14/c2/fe14c2b84eec6e1b6ce9ea9a8c97faa5.jpg" alt="Image">
    </div>
    <div class="gallery-item">
        <img src="https://i.pinimg.com/736x/f5/b9/42/f5b942b8fb86c516cd903d6e84bc3ef1.jpg" alt="Image">
    </div>
    <div class="gallery-item">
        <img src="https://i.pinimg.com/736x/dd/ad/02/ddad0279b1a42dee51a2af943585b500.jpg" alt="Image">
    </div>
<!--    <div class="gallery-item">-->
<!--        <img src="" alt="Image">-->
<!--    </div>-->
</div>
{{end}}