{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
<h2>Добро пожаловать в базу данных "Железнодорожные перевозки"</h2>
<p>Для работы с сайтом возспользуйтесь меню, которое открывается с помощью кнопки <span class="material-symbols-outlined" style="font-size: 17px">menu</span>. На сайте реализована работа с базой данных, а также предоставлена информация о ней.</p>
{{end}}