{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
<h2>Добро пожаловать в базу данных "Железнодорожные перевозки"</h2>
<p>
    Этот сервис предназначен для управления заявками на железнодорожные перевозки. Он позволяет создавать новые заявки,
    просматривать существующие и отслеживать их статус. Сервис предоставляет удобный интерфейс для взаимодействия с
    данными о железнодорожных перевозках, облегчая процесс планирования и управления логистикой.
</p>
<p>
    Сайт разработан с использованием передовых технологий:
</p>
<p>
    1. <strong>Серверная часть:</strong> Golang — эффективный и масштабируемый язык программирования.
</p>
<p>
    2. <strong>База данных:</strong> MySQL — надежная система управления базами данных.
</p>
<p>
    3. <strong>Клиентская часть:</strong> JavaScript — для интерактивного интерфейса пользователя.
</p>
<p>
    4. <strong>Авторизация:</strong> JWT (JSON Web Tokens) — обеспечивает безопасный доступ к данным.
</p>
<p>
    5. <strong>Аналитика:</strong> Используются cookie для сбора анонимной статистики посещений сайта.
</p>
<p>
    6. <strong>Развертывание:</strong> Docker — для удобства развертывания и масштабирования сервиса.
</p>
<p></p>
<p>
    Мы стремимся обеспечить удобный и информативный ресурс для всех, кто интересуется железнодорожными перевозками.
</p>
<p>
    Для работы с сайтом возспользуйтесь меню, которое открывается с помощью кнопки
    <span class="material-symbols-outlined" style="font-size: 17px">menu</span>.
</p>
{{end}}