{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
<h2>Главная</h2>
<p>Данная база данных была создана для быстрого получения и изменения данных о железнодорожных перевозках для поиска новых клиентов и анализа рынка логистических услуг в сфере ж\д грузоперевозок. Работу выполнил студент группы ИВТ-Б20 - Марков К.А.</p>
{{end}}