{{template "base" .}}

{{define "title"}}Крытые вагоны{{end}}

{{define "main"}}
<h2>Подвижной состав - Крытые вагоны</h2>
<div class="platform-item">
    <img src="../static/img/closePlatforms/11-7038.jpg" alt="image" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 11-7038</b></p>
        <p>Тип платформы: крытый</p>
        <p>Цельнометаллический 4-осный крытый вагон для железнодорожной перевозки легковесных грузов широкой номенклатуры, требующих защиты от атмосферных осадков.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/closePlatforms/11-280.jpg" alt="image" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 11-280</b></p>
        <p>Тип платформы: крытая</p>
        <p>Вагон предназначен для транспортировки тарно-штучных, пакетированных и некоторых видов сыпучих (зерно) грузов, требующих защиты от атмосферных осадков.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/closePlatforms/11-066.jpg" alt="image" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 11-066</b></p>
        <p>Тип платформы: крытая</p>
        <p>Крытый 4-осный железнодорожный вагон для перевозки штучных, зерновых и других грузов широкой номенклатуры, требующих защиты от атмосферных осадков.</p>
    </div>
</div>
{{end}}