{{template "base" .}}

{{define "title"}}Крытые вагоны{{end}}

{{define "main"}}
<h2>Подвижной состав - Крытые вагоны</h2>
<div class="platform-item">
    <img src="../static/img/semiPlatforms/12-132.jpg" alt="Полувагон 12-132" class="platform-image">
    <div class="platform-text">
        <p><b>Полувагон 12-132</b></p>
        <p>Тип вагона: полувагон</p>
        <p>4-осный цельнометаллический полувагон модели 12-132 с глухими торцевыми стенами, предназначенный для перевозки сыпучих, крупнокусковых, штучных и других грузов, не требующих защиты от атмосферных осадков.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/semiPlatforms/12-1302.jpg" alt="Полувагон 12-1302" class="platform-image">
    <div class="platform-text">
        <p><b>Полувагон 12-1302</b></p>
        <p>Тип вагона: полувагон</p>
        <p>Полувагон модели 12-1302, предназначенный для перевозки грузов, не требующих укрытий от атмосферных осадков. Грузы: насыпные непылевидные, навалочные, штабельные и тарно-штучные с креплением грузов в соответствии с требованиями правил погрузки.</p>
    </div>
</div>
{{end}}