{{template "base" .}}

{{define "title"}}Платформы{{end}}

{{define "main"}}
<h2>Подвижной состав - Платформы</h2>
<div class="platform-item">
    <img src="../static/img/platforms/13-401.jpg" alt="image" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-401</b></p>
        <p>Тип платформы: универсальная</p>
        <p>Платформа предназначена для перевозки сельскохозяйственной и спецтехники на колесном и гусеничном ходу,
            различных металлических конструкций и других грузов, не нуждающихся в защите от неблагоприятных атмосферных
            условий.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/13-4012.jpg" alt="image" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-4012</b></p>
        <p>Тип платформы: универсальная</p>
        <p>Универсальная ж/д-платформа с деревометаллическим настилом пола, предназначенная для перевозок колесной и
            гусеничной техники, штучных и прочих грузов, не требующих защиты от атмосферных осадков.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/13-2114.jpg" alt="image" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-2114</b></p>
        <p>Тип платформы: универсальная</p>
        <p>Универсальная 4-осная платформа, предназначена для перевозки колесных и гусеничных машин,
            штучных лесных и других грузов, не требующих защиты от атмосферных осадков.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/13-2114-08.jpg" alt="image" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-2114-08</b></p>
        <p>Тип платформы: универсальная, комбинированная</p>
        <p>Универсальная платформа модели 13-2114-08 предназначена для перевозки колесной техники, леса,
            пиломатериалов, строительных материалов, крупнотоннажных контейнеров, двух 20 футовых или одного
            40 футового, и других грузов, не требующих защиты от атмосферных осадков.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/13-9775.jpg" alt="Платформа 13-9775" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-9775</b></p>
        <p>Тип платформы: универсальная</p>
        <p>Универсальная 4-осная платформа, предназначена для перевозки колесных и гусеничных машин, штучных лесных и других грузов, не требующих защиты от атмосферных осадков.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/13-9004.JPG" alt="Платформа 13-9004" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-9004</b></p>
        <p>Тип платформы: фитинговая</p>
        <p>Фитинговая 4-осная платформа для крупнотоннажных контейнеров и колесной техники (для перевозки универсальных крупнотоннажных контейнеров массой бруто 10, 20 и 30 т в различном сочетании и колесной техники).</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/13-935A-04.jpg" alt="Платформа 13-935A-04" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-935A-04</b></p>
        <p>Тип платформы: фитинговая</p>
        <p>Железнодорожная платформа для перевозки крупнотоннажных контейнеров, колесной и гусеничной техники.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/23-469-07.jpg" alt="Платформа 23-469-07" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 23-469-07</b></p>
        <p>Тип платформы: фитинговая</p>
        <p>Фитинговая 4-осная платформа для перевозки крупнотоннажных контейнеров, для перевозки колесной техники.</p>
    </div>
</div>
<div class="platform-item">
    <img src="../static/img/platforms/13-5205.jpg" alt="Платформа 13-5205" class="platform-image">
    <div class="platform-text">
        <p><b>Платформа 13-5205</b></p>
        <p>Тип платформы: контрейлерная</p>
        <p>Платформа фитинговая с деревянным настилом пола.</p>
    </div>
</div>
{{end}}