html, body {
    height: 100%; /* Убедитесь, что высота html и body составляет 100% */
    margin: 0; /* Убираем отступы по умолчанию */
    overflow: hidden; /* Отключаем прокрутку для body */
    min-width: 750px; /* Устанавливаем минимальную ширину */
    min-height: 450px; /* Устанавливаем минимальную высоту */
}

body {
    line-height: 1.5;
    color: #34495E;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 2000px;
    background: linear-gradient(0deg, rgba(146,165,235,1) 0%, rgba(45,91,253,1) 100%);
    border-bottom: 1px solid #E4E5E7;
    padding: 14px calc((100% - 800px) / 2) 17px;
    text-align: center;
    z-index: 1000;
    box-sizing: border-box;
    height: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 2000px;
    background-color: #f8f9fa;
    border-top: 1px solid #E4E5E7;
    text-align: center;
    padding: 10px calc((100% - 800px) / 2);
    z-index: 1000;
    box-sizing: border-box;
}

.main-container {
    margin-top: 83px;
    flex: 1; /* Занимает оставшееся пространство между header и footer */
    display: block; /* Устанавливаем flexbox для контейнера */
    overflow-y: auto; /* Прокручиваемое содержимое */
}

main {
    flex: 1; /* Занимает оставшееся пространство внутри main-container */
    padding: 1px calc((100% - 800px) / 2);
    box-sizing: border-box;
    display: flex; /* Добавляем flexbox */
    flex-direction: column; /* Устанавливаем вертикальное расположение для элементов внутри main */
}

/* Стили для div внутри main */
main > div {
    flex: 0 0 auto; /* Не растягивать, сохранять высоту содержимого */
    margin: 10px 0; /* Отступы между элементами */
}

h1 a {
    font-size: 36px;
    font-weight: bold;
    background-image: url("../img/poezd_u3mdmd32t7oj_32.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 36px;
    padding-left: 50px;
    position: relative;
}

h1 a:hover {
    text-decoration: none;
    color: #34495E;
}

h2 {
    position: static;
}

a {
    color: #3b5bcb;
    text-decoration: none;
}

t {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #3b5bcb;
    text-decoration: underline;
}

a.no-hover:hover {
    text-decoration: none;
}

header a {
    color: #34495E;
    text-decoration: none;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
}

nav a {
    margin-right: 1.5em;
    display: inline-block;
}

nav form {
    display: inline-block;
    margin-left: 1.5em;
}

nav div {
    width: 50%;
    float: left;
}

nav div:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-left: 1.5em;
    margin-right: 0;
}

nav a.live {
    color: #34495E;
    cursor: default;
}

nav a.live:hover {
    text-decoration: none;
}

nav a.live:after {
    content: '';
    display: block;
    position: relative;
    left: calc(50% - 7px);
    top: 9px;
    width: 14px;
    height: 14px;
    background: #F7F9FA;
    border-left: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
}

a.button, input[type="submit"] {
    background-color: #3b5bcb;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 18px 27px;
    border: none;
    display: inline-block;
    margin-top: 18px;
    font-weight: 700;
}

a.button:hover, input[type="submit"]:hover {
    background-color: #3b5bcb;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

form div {
    margin-bottom: 18px;
}

form div:last-child {
    border-top: 1px dashed #E4E5E7;
}

.footer {
    position: sticky;
    bottom: 0px;
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #F7F9FA;
    height: 60px;
    color: #6A6C6F;
    text-align: center;
    flex: 0 0 auto;
}

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 41px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1002;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -10px;
}
.menu__btn > span::after {
    content: '';
    top: 10px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 360px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 1001;
}
.menu__item {
    display: block;
    padding: 12px 12px;
    color: #333 !important;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
.sub__menu {
    display: none;
    padding-left: 10px;
}
.menu__switcher.active > .sub__menu {
    display: block;
}
.menu__switcher {
    position: relative;
}
.menu__link {
    color: #333;
}

label {
    font:
            1rem 'Fira Sans',
            sans-serif;
    font-weight: 700;
}

input,
label {
    margin: 0.4rem 0;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}

a.butt {
    text-align:center;
    font-size:13px;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 6px;
    background: #eaeef1;
    width: auto;
    margin: 20px auto;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.1));
    border-radius: 3px;
    color: rgba(0,0,0,.6);
    text-shadow: 0 1px 1px rgba(255,255,255,.7);
    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.2), inset 0 1px 2px rgba(255,255,255,.7);
}

a.butt:hover, t.butt.hover {
    background: #fff;
}
a.butt:active, t.butt.active {
    background: #d0d3d6;
    background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
    box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}

.glo{
    color:#0e5e87;
    padding: 10px 20px;
    width:max-content;
    text-decoration:none;
    text-align:center;
    margin:20px auto;
    display: block;
    background-image: linear-gradient(to left,transparent,transparent 50%,#0e5e87 50%,#0e5e87);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    font: 400 18px tahoma;
    border: 1px solid #0e5e87;
}
.glo:hover {
    background-position: 0 0;
    color:#fff;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    max-width: 1000px;
    table-layout: auto;
    overflow: auto;
}

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

#table-wrapper {
    height: 497px;
    width: 100%;
    max-width: 1000px;
    padding: 0px;
    margin: 0px auto 0px auto;
    overflow: auto;
    display: inline-block;
}

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
 }

#search-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.modal11 {
    left: 0;
    position: fixed;
    top: 0;
    background: white;
    height: 100%;
    width: 100%;
    /* margin-top: 140px; */
    padding: 18px 10px;
    border-radius: 5px;
    /* box-shadow: 5px 5px 30px rgba(0, 0, 0, .2); */
    background-color: rgba(0, 0, 0, 0.4);
    transition: .4s;
    z-index: 1000;
}

.hidden {
    display: none;
}

.modal-content11 {
    position: fixed;
    width: 480px;
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal-content .form_item {
    margin-bottom: 25px;
}

.form_item label {
    display: block;
    margin-bottom: 5px;
}
.form_item input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
}

.form_wrap{
}

.form_wrap h2{
    text-align: center;
}

section#button-container{
    position: absolute;
    width: 100px;
    top: 13px;
    right: 130px;
    float: right;
    z-index: 1000;

    .login-btn{
        margin: 20px;
        float: left;
        position: relative;
        font-family: arial;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;

        &.v19{
            .login-label {
                padding: 10px 30px;
                font-family: arial;
                font-size: 17px;
                display: inline-block;
                z-index: 10;
                position: relative;
                white-space: nowrap;
                line-height: 24px;
                transition: all 0.225s;
                transition-delay: 0.45s;
                letter-spacing: 2px;
            }

            &.button-start{
                .label{
                    padding: 12px 65px;
                }
            }

            .login-icon2 {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.225s;
                transform: skew(-40deg, 0deg) scaleX(1);
                background: rgba(#f0202f, 0.8);
                transition-delay: 0.45s;
            }

            .login-icon {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.225s;
                transform: scale(0.9) skew(0deg, 0deg);
                transition-delay: 0.15s;

                &:before, &:after {
                    width: 60px;
                    opacity: 0;
                    content: '';
                    height: 1px;
                    position: absolute;
                    display: block;
                    background: #f0202f;
                    transition: all 0.375s;
                    transition-delay: 0.3s;
                }
                &:before {
                    top: 0;
                    left: calc(50% - 30px);
                }
                &:after {
                    bottom: 0;
                    right: calc(50% - 30px);
                }
                span {

                    &:before, &:after {
                        height: 0;
                        transition-delay: 0s;
                        content: '';
                        background: #f0202f;
                        position: absolute;
                        display: block;
                        width: 2px;
                        transition: all 0.225s;
                    }
                    &:before {
                        left: 0;
                        top: 0;
                    }
                    &:after {
                        right: 0;
                        bottom: 0;
                    }
                }
            }
            &:hover {
                .login-icon {
                    transform: skew(-40deg, 0deg);

                    &:before, &:after {
                        transition-delay: 0s;
                        width: 30px;
                        opacity: 1;
                    }
                    &:before {
                        left: 0;
                    }
                    &:after {
                        right: 0;
                    }

                    span {
                        &:before, &:after {
                            height: 30px;
                            transition-delay: 0.45s;
                        }
                    }
                }
                .login-icon2 {
                    transform: skew(-40deg, 0deg) scaleX(0.2);
                    background: transparent;
                    transition-delay: 0s;
                    opacity: 0;
                }
            }

            &.white{

                &:hover {
                    .label{
                        color: #34495E;
                        transition-delay: 0s;
                    }
                }
                .login-icon2 {
                    background: #34495E;
                }
                .login-icon {

                    &:before, &:after {
                        background: #34495E;
                    }
                    span {
                        &:before, &:after {
                            background: #34495E;
                        }
                    }
                }
            }

            &.transparent{
                float: none;
                display: inline-block;
                -webkit-transform: translateZ(0px);
                transform: translateZ(0px);

                .login-label{
                    color: #34495E;
                    transition-delay: 0s;
                }
                .login-icon2 {
                    background: transparent;
                }
                .login-icon {
                    transform: scale(1) skew(10deg, 0deg);

                    &:before, &:after {
                        background: #34495E;
                    }
                    span {
                        &:before, &:after {
                            background: #34495E;
                        }
                    }
                }
                &:hover {
                    .login-icon {
                        transform: scale(1) skew(-40deg, 0deg);
                    }
                }
            }
        }
    }
}

.clickable {
    cursor: pointer;
}

.simple-div {
    position: absolute;
    right: 0;
    top: 101px;
    z-index: 1001;
    width: 16rem;
    border-width: 1px;
    padding: 1rem;
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06));
    scrollbar-width: auto;
    scrollbar-color: #c7c7c7 #FFFFFF;
    max-height: calc(100vh - 4.1875rem);
    background-color: #FFFFFF;
    box-sizing: border-box;
}

.list-block {
    display: block;
    padding: 1rem;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    overflow: hidden;
}

.logout-icon {
    fill: currentColor;
    width: 16px;
    height: 16px;
}

.news {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 650px;
    min-height: 100px;
    margin: auto auto 20px;
    overflow: hidden;
    border-radius: 8px; /* закругленные углы */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* тень */
    padding: 10px;
}

.outer-container {
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    flex-direction: column;
    align-items: center; /* Центрируем по вертикали */
    margin-bottom: 20px;
}

.separator {
    display: inline-block;
    width: 1px;
    /* Ширина палочки */
    height: 20px;
    /* Высота палочки */
    background-color: gray;
    /* Цвет палочки */
    margin: 0 10px;
    /* Отступы по бокам */
    vertical-align: middle;
    /* Вертикальное выравнивание */
}

.news-filter {
    display: flex;
    /* Используем flexbox для выравнивания элементов */
    align-items: center;
    /* Центрируем элементы по вертикали */
}

.active {
    color: #3b5bcb;
    font-weight: bold;
    text-decoration: underline; /* Можно добавить жирное начертание для выделенного элемента */
}

.styled-link {
    position: static; /* Для позиционирования псевдоэлементов */
    padding: 10px 20px; /* Отступы внутри ссылки */
    color: #3b5bcb; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    background-color: transparent; /* Прозрачный фон */
    border: 2px solid #3b5bcb; /* Цвет рамки */
    border-radius: 5px; /* Скругление углов, если нужно */
    overflow: hidden; /* Скрыть выходящие за границы элементы */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px; /* расстояние между изображениями */
    padding: 16px 0; /* отступ сверху и снизу */
}

.gallery-item {
    overflow: hidden; /* скрыть переполнение */
    border-radius: 8px; /* закругленные углы */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* тень */
    transition: transform 0.3s; /* анимация при наведении */
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.gallery-item:hover {
    transform: scale(1.05); /* увеличиваем изображение при наведении */
}

.case-item {
    overflow: hidden;
    border-radius: 8px; /* закругленные углы */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* тень */
    padding: 10px;
}

.custom-image {
    width: 1024px;  /* Устанавливаем ширину */
    height: 321px;  /* Устанавливаем высоту */
    object-fit: cover; /* Это свойство помогает сохранить пропорции изображения */
}

.platform-item {
    display: flex;
    overflow: hidden;
    border-radius: 8px; /* закругленные углы */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* тень */
    align-items: center; /* Align items vertically */
    flex-direction: row;
}

.platform-image {
    width: 240px;  /* Устанавливаем ширину */
    height: 180px;  /* Устанавливаем высоту */
    object-fit: cover; /* Это свойство помогает сохранить пропорции изображения */
}

.platform-text { /* New class for text content */
    display: flex;
    flex-direction: column; /* Arrange text in a column */
    margin-left: 20px; /* Add spacing between image and text */
}

.radio-widget {
    position: relative; /* Важно! Делает контейнер родительским для абсолютного позиционирования */
    /* Другие стили вашего виджета */
}

.radio-widget svg.volume-indicator {
    position: absolute; /* Позиционирование относительно родителя */
    bottom: 0; /* Или top, left, right - в зависимости от расположения ползунка */
    right: 0; /* Или left - в зависимости от расположения ползунка */
    margin: 5px; /* Отступы от краев */
}